main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,1fr);
    gap:1em;
    height: 950px;
}
#calcSueldo{
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 10;
}
#calendarioGG{
    padding-top: 50px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 10;
}
.cal-titulo {
    text-align: center;
    font-size: 25px;
}

.calendario-cont>ol {
    height: 250px;
}

.calendario-cont>ol,
.calendario-cont>ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.day-name {
    list-style: none;
    font-weight: bold;
    text-align: center;

}

.msjeError {
    color: red;
    margin-top: -30px;
    text-align: top;
    margin-bottom: 30px;
}

.vExtra {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4em;

}

.vExtra>label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-size: 20px;
    font-weight: bold;
}

#calcSueldo {
    margin-top: 50px;
}

#cambiar {
    display: flex;
    justify-content: space-evenly;
    gap: 7px;
}

#cambiar>button {
    padding: 0 3px;
    font-weight: bold;
    height: 40px;
}

#cambiar>input {
    text-align: center;
}
.contFecha{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscarFecha {
    display: flex;
    gap: 15px;
    width: 90vw;
    justify-content: center;
    text-align: center;
}

.buscarFecha>div {
    display: flex;
    line-height: 3;
    justify-content: space-evenly;
    gap: 5px;
    
}
#buscarFecha{
    width: 160px;
}
@media screen and (max-width:800px){
    main{
        display: block;
        height: initial;
    }
    #calendarioGG{
        padding-top: initial;}
    .buscarFecha{
        width: 90vw;
        gap: 5px;
        justify-content: space-between;
    }
    #buscarFecha{
        width: 6em;
    }
    #buscaDia,
    #buscaMes{
        width: 60px;
    }
    #buscaAño{
        width: 80px;
    }
    
}
